# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
/.vs/TreeAssignment/v15/Browse.VC.opendb
/.vs/TreeAssignment/v15
/Debug
/TreeAssignment/Debug/GraphAssignment.tlog
/TreeAssignment/Debug
/TreeAssignment/Release
/Release
*.tlog
/TreeAssignment/TreeAssignment.vcxproj
/TreeAssignment/TreeAssignment.vcxproj.filters
/TreeAssignment/TreeAssignment.vcxproj.user
